{
  "presets": [
    ["es2015", {"modules": false}],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "plugins": [ ["istanbul", { "exclude": "app/**/*.spec.js" }] ]
    }
  }
}