form{
    label{
        margin: 20px 0;
        display: block;
        padding: 0 10px;
        input[type=text]{
            border: 1px solid #ededed;
            height: 1.2em;
            font-size: 0.9em;
            padding: 5px 2px;
        }
        .form-control{
            margin-left: 20px;
            &.credit-card-cvv{
                width: 30px;
            }
        }
        .form-control-block{
            display: block;
        }
        .card-image{
            display: inline-block;
            height: 50px;
            width: 100px;
        }
    }
    .submit-button{
        display: inline-block;
        height: 50px;
        width: 150px;
        background: rgba(0, 152, 12, 0.82);
        border: none;
        font-size: 1.2em;
    }
}