form{
    label{
        margin: 20px 0;
        display: block;
        color: #595b5d;

        .form-control{
            margin-left: 20px;
            &.credit-card-cvv{
                width: 30px;
            }
        }
        .form-control-block{
            display: block;
        }
        .card-image{
            display: inline-block;
            height: 50px;
            width: 100px;
        }
        .validation-error-message{
            color: #ff6868;
            font-size: 0.8em;
            padding: 5px 0;
        }
    }
    .submit-button{
        display: inline-block;
        height: 50px;
        width: 150px;
        background: rgba(98, 222, 108, 0.82);
        border: none;
        font-size: 1.2em;
        color: #595b5d;
    }
}